/classes/modules/talk/.svn/
/templates/skin/.svn/
/config/.svn/
/classes/modules/talk/mapper/.svn/
/include/ajax/.svn/
/classes/.svn/
/classes/modules/.svn/
/templates/skin/default/.svn/
/classes/modules/mailing/entity/.svn/
/include/.svn/
/.svn/
/templates/.svn/
/templates/skin/default/actions/ActionMailing/.svn/
/templates/language/.svn/
/include/cron/.svn/
/templates/skin/default/actions/.svn/
/classes/actions/.svn/
/classes/modules/users/mapper/.svn/
/classes/hooks/.svn/
/classes/modules/users/.svn/
/classes/modules/mailing/.svn/
/classes/modules/mailing/mapper/.svn/